@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@layer base {
  :root {
    --background: #e8eddf;
    --foreground: #242423;
    --primary: #f6d26f;
    --secondary: #cfdbd5;
    --accent: #242423;
    --button-background: #242423;
    --button-foreground: #f6d26f;

    --navbar-background: #cfdbd5;
    --navbar-foreground: #333533;

    --tooltip-background: #f6d26f;
    --tooltip-foreground: #242423;
  }

  .dark {
    --background: #242423;
    --foreground: #e8eddf;
    --button-background: #f6d26f;
    --button-foreground: #242423;
    --navbar-background: #333533;
    --navbar-foreground: #e8eddf;

    --tooltip-background: #242423;
    --tooltip-foreground: #f6d26f;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-raleway), "Montserrat";
  }
}

/* ===== Custom animations ===== */
@layer utilities {
  /* Blob animation */
  @keyframes blob {
    0%,
    100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(20px, -10px) scale(1.05);
    }
    66% {
      transform: translate(-15px, 15px) scale(0.95);
    }
  }
  .animate-blob {
    animation: blob 20s infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  /* Polygon animation */
  @keyframes polygonMove {
    0%,
    100% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(2deg) scale(1.05);
    }
  }
  .animate-polygon {
    animation: polygonMove 30s infinite ease-in-out;
    transform-origin: center;
  }
}
